<span id="top"></span>
<div class="cover" style="background:{{ page.background }}">
<div class="cover-overlay">
  <div class="header-wrapper">
    <div class="centre head-centre">    
      <div class="menu">
        <a href="/" class="nav-logo">
        <img src="/images/bahk-logo-big-white.svg" alt="BAHK Logo">
      </a>
      <div class="burger">
        <img class="open" src="\images\nav-burger.svg" alt="menu">
        <img class="close" src="\images\nav-burger_close.svg" alt="close menu">
      </div>
    </div>

    <nav>
      <a href="/about/">
        <div class="text">
          <p>關於</p>
          <span>L學習更多</span>
        </div>
        <img src="\images\nav-about.svg" alt="關於">
      </a>
      <a href="/join/">
        <div class="text">
          <p>會員</p>
          <span>加入我們</span>
        </div>
        <img src="\images\nav-members.svg" alt="會員">
      </a>
      <a href="/committees/">
        <div class="text">
          <p>委員會</p>
          <span>帶領</span>
        </div>
        <img src="\images\nav-committees.svg" alt="Committees">
      </a>
      <a href="/meetups/">
        <div class="text">
          <p>聚會</p>
          <span>參加</span>
        </div>
        <img src="\images\nav-events.svg" alt="聚會">
      </a>
      <a href="/contact/">
        <div class="text">
          <p>接觸</p>
          <span>追蹤及加入頻道</span>
        </div>
        <img src="\images\nav-contact.svg" alt="接觸">
      </a>
    </nav>
  </div>
</div>
  
  <!-- COVER PHOTO CONTINUES -->