<span id="top"></span>
<div class="cover" style="background:{{ page.background }}">
<div class="cover-overlay">
  <nav class="site-header" role="navigation">
    <div class="c">
      <a href="/" class="logo">
        <div>
          <img src="/images/bahk-logo-big-white.svg" alt="BAHK Logo">
        </div>
      </a>
      <a href="#" onclick="$('nav').toggleClass('expanded')" class="menu-button visible-mobile right">
        <i class="icon-more"></i>
      </a>
      <a class="page-link" onclick="$('nav').toggleClass('expanded')" href="/about/">
        <i class="icon-user"></i>
        <div>
          關於
          <small>學習更多</small>
        </div>
      </a>

      <a class="page-link" onclick="$('nav').toggleClass('expanded')" href="/join/">
        <i class="icon-cards"></i>
        <div>
          會員
          <small>加入我們</small>
        </div>
      </a>

      <a class="page-link" onclick="$('nav').toggleClass('expanded')" href="/meetups/">
        <i class="icon-direction"></i>
        <div>
          聚會
          <small>參加</small>
        </div>
      </a>

      <a class="page-link" onclick="$('nav').toggleClass('expanded')" href="/contact/">
        <i class="icon-cards"></i>
        <div>
          接觸
          <small>追蹤及加入頻道</small>
        </div>
      </a>

    </div>
  </nav>

  <!-- COVER PHOTO CONTINUES -->
